body {
    background-image: url(/media/background.png);
}

#gameWindow {
    display: grid;
    grid-template-columns: 2fr 3fr;
}



#gameMenu {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#gameGrid {
    display: grid;
    margin: 5px;
    position: absolute;
    right: 20px;
    width: 85vh;
    height: 85vh;
    border: 5px solid black;
    background-color: white;
    box-shadow: 15px 15px 20px black;
}

.cells {
    background-color: white;
    border: 1px solid black;
    /* width: 16px; */
    /* height: 16px; */
}

.cells:hover {
    scale: 1.05;
    background-color: black;
    box-shadow: 0px 0px 10px black;
    z-index: 5000;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}

@media (max-width: 650px) {
    #gameWindow {
        display: grid;
        background-color: red;
        grid-template-rows: 1fr 2fr;
    }

    #gameGrid {
        position: relative;
        left: 0px;
        width: 50vh;
        height: 50vh;
    }
}